#div1 {
    width: 23%;
    float: left;
    margin: 1%;
}

#div2 {
    width: 23%;
    float: left;
    margin: 1%;
}

#div3 {
    width: 23%;
    float: left;
    margin: 1%;
}

#div4 {
    width: 23%;
    float: left;
    margin: 1%;
}